@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
  }
  
body, #app {
    @apply bg-slate-800 text-slate-200
}

main {
    min-height: 84vh;
}

h1 {
    @apply text-3xl font-thin
}

a {
    @apply text-blue-600
}

a:hover {
    @apply text-blue-500
}


.fix-padding {
    @apply px-2 sm:px-4 py-2.5
}

p {
    margin: 1em 0;
}